.nav {
    grid-area: n;
    background-color: royalblue;
    padding: 20px;
}

.item {
    padding-bottom: 5px;
}

.item a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.item a:active,
.item a:focus {
    color: gold;
}