.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    padding: 10px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsIitems .active {
    color: red;
}

/* .dialog {} */

/* .messages {} */

/* .message {} */